*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.822);
    text-align: center;
}
.title{
    text-align: left;
    font-family: fantasy;
    font-weight: 900;
    color: Chrome 1;
}
.navigator{
    list-style-type: none;
    text-align: center;

}
p{
    font-size: 20px;
}
input{
    float: right;
}